# Core dependencies
colorama>=0.4.6
pystyle>=2.0.0
requests>=2.31.0
aiohttp>=3.9.0
websockets>=11.0.3
websocket-client>=1.6.0
discord>=2.3.3
selenium>=4.11.2
undetected-chromedriver>=3.2.5
bs4>=0.0.1
fake-useragent>=1.4.0
dnspython>=2.3.0
psutil>=5.9.5
socks>=0.0.1
Pillow>=10.0.0
python-docx>=0.8.11
pdfminer.six>=20221105
dateparser>=1.1.8
phonenumbers>=8.13.15
instaloader>=4.9.6
googlesearch-python>=1.1.0
keyboard>=0.23.0
PyQt6>=6.6.0
fade>=1.6.0
decompyle3>=3.10.0
telebot>=0.0.4
yt-dlp>=2025.11.6
